
<html>
<head>
	<meta charset="utf-8">
	<meta property="og:title" content={{{title}}} />
    <meta property="og:image" content="https://s0.wp.com/i/blank.jpg" />
	<title>SimplCV</title>

	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Arima+Madurai:300|Asul|Comfortaa:300|EB+Garamond|Overlock+SC|PT+Sans+Caption|Prompt" rel="stylesheet">
	<link href="" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato|Bungee|Bungee+Shade" rel="stylesheet">
	<link rel="stylesheet" type="text/css" title="steady" href="/public/css/steadyeddie.css">
	<link rel="alternate stylesheet" type="text/css" title="funk" href="/public/css/funktown.css">
	<link rel="alternate stylesheet" type="text/css" title="square" href="/public/css/quitesquare.css">
	<link rel="alternate stylesheet" type="text/css" title="right" href="/public/css/allright.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

</head>
<body>
	<div class="wrap">
		<div class="right-container">
			<div class="header">
				<div class="title">{{{title}}}</div>
				{{{header}}}
			</div>
		</div>
		<div class="left-container">
			<div class="content"><div class="title">{{{title}}}</div><div class="main">{{{content}}}</div></div>
		</div>
	</div>

	<div id="editMode"></div>

	<div class="footer">
		{{{footer}}}
	</div>

	<div class="switcher">
		<div class="steadyeddie" type="submit" onclick="switchStyles('steady');return false;" name="theme" id="steady"></div>
		<div class="funktown" type="submit" onclick="switchStyles('funk');return false;" name="theme" id="funk"></div>
		<div class="quitesquare" type="submit" onclick="switchStyles('square');return false;" name="theme" id="square"></div>
		<div class="allright" type="submit" onclick="switchStyles('right');return false;" name="theme" id="right"></div>
	</div>
</body>

<script>
	var editMode = "{{editMode}}";

if (editMode == 'true') {
	document.getElementsByClassName('content')[0].setAttribute('contentEditable','true');

	var button = document.createElement("BUTTON");
	button.style.width="100px";
	button.style.height="30px";
	button.style['font-size']="16px";
	var t = document.createTextNode("SAVE");  

	button.addEventListener('click', function(event) {
		var content = $('.main').text();
		$.ajax({
			url: '/save',
			data: JSON.stringify({content: content}),
			contentType: 'application/json; charset=utf-8',
			dataType: 'json',
			method: 'POST'
		})
		.done(function(data){
			console.log(data);
		}).fail(function(error) {
			console.log(error);
		});
	});
	
	button.appendChild(t); 

	var element = document.getElementById("editMode");
	element.appendChild(button);

	document.getElementsByClassName("footer")[0].style.display = "none";
	document.getElementsByClassName("switcher")[0].style.display = "none";

}


function switchStyles ( cssTitle )
{
  var i, link_tag ;
  for (i = 0, linkTag = document.getElementsByTagName("link"); i < linkTag.length ; i++ ) {
    if ((linkTag[i].rel.indexOf( "stylesheet" ) != -1) && linkTag[i].title) {
      linkTag[i].disabled = true ;
      if (linkTag[i].title == cssTitle) {
        linkTag[i].disabled = false ;
      }
    }
  }
}

</script>
</html>
