
<html>
<head>
	<meta charset="utf-8">
	<meta property="og:title" content={{{title}}} />
    <meta property="og:image" content="https://s0.wp.com/i/blank.jpg" />
	<title>SimplCV</title>

	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Arima+Madurai:300|Asul|Comfortaa:300|EB+Garamond|Overlock+SC|PT+Sans+Caption|Prompt" rel="stylesheet">
	<link href="" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato|Bungee|Bungee+Shade" rel="stylesheet">
	<link rel="stylesheet" type="text/css" title="steady" href="/public/css/steadyeddie.css">
	<link rel="alternate stylesheet" type="text/css" title="funk" href="/public/css/funktown.css">
	<link rel="alternate stylesheet" type="text/css" title="square" href="/public/css/quitesquare.css">
	<link rel="alternate stylesheet" type="text/css" title="right" href="/public/css/allright.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

</head>
<body>
<div class="wrap">
		<div class="right-container">
			<div class="header">
				<div class="title">{{{title}}}</div>
				<div class="links">{{{header}}}</div>
			</div>
		</div>
		<div class="left-container">
			<div class="content"><div class="embeddedTitle">{{{title}}}</div><div class="main">{{{content}}}</div></div>
		</div>
	</div>
	
	<div class="footer">
		{{{footer}}}
	</div>

	<div class="switcher">
		<div class="steadyeddie" type="submit" onclick="switchStyles('steady');return false;" name="theme" id="steady"></div>
		<div class="funktown" type="submit" onclick="switchStyles('funk');return false;" name="theme" id="funk"></div>
		<div class="quitesquare" type="submit" onclick="switchStyles('square');return false;" name="theme" id="square"></div>
		<div class="allright" type="submit" onclick="switchStyles('right');return false;" name="theme" id="right"></div>
	</div>
</body>

<script>

var editMode = "{{editMode}}";

$('.header a').each(function (item) {	
	this.className = 'icons ' + this.text.toLowerCase();
});


if (editMode == 'true') {
	$('.title').append('<button id="titleButton" class="btn"><img class="clippy" width="24" src="/public/img/save.png"></button>');
	$('.links').append('<button id="linksButton" class="btn"><img class="clippy" width="24" src="/public/img/save.png"></button>');
	$('.content').append('<button id="contentButton" class="btn"><img class="clippy" width="24" src="/public/img/save.png"></button>');

	document.getElementsByClassName('title')[0].setAttribute('contentEditable','true');
	document.getElementsByClassName('links')[0].setAttribute('contentEditable','true');
	document.getElementsByClassName('content')[0].setAttribute('contentEditable','true');

	var contentButton = document.getElementById("contentButton");
	var linksButton = document.getElementById("linksButton");
	var titleButton = document.getElementById("titleButton");

	contentButton.addEventListener('click', function(event) {
		save ('main');
	});
	
	linksButton.addEventListener('click', function(event) {
		save ('links');
	});
	
	titleButton.addEventListener('click', function(event) {
		save ('title');
	});
	
	var element = document.getElementById("editMode");

	document.getElementsByClassName("footer")[0].style.display = "none";
	document.getElementsByClassName("switcher")[0].style.display = "none";
}


function save (target) {
	var content = $('.' + target).text();
	console.log(content);
	$.ajax({
		url: '/save/' + target,
		data: JSON.stringify({content: content}),
		contentType: 'application/json; charset=utf-8',
		dataType: 'json',
		method: 'POST'
	})
	.done(function(data){
		console.log(data);
	}).fail(function(error) {
		console.log(error);
	});		
}

function switchStyles ( cssTitle )
{
  var i, link_tag ;
  for (i = 0, linkTag = document.getElementsByTagName("link"); i < linkTag.length ; i++ ) {
    if ((linkTag[i].rel.indexOf( "stylesheet" ) != -1) && linkTag[i].title) {
      linkTag[i].disabled = true ;
      if (linkTag[i].title == cssTitle) {
        linkTag[i].disabled = false ;
      }
    }
  }
}

</script>
</html>
